<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOAA Tide Data</title>
</head>
<body>
    <h2>Enter Begin and End Dates</h2>
    <form method="POST">
        <label for="begin_date">Begin Date (YYYYMMDD):</label>
        <input type="text" id="begin_date" name="begin_date" required>
        <label for="end_date">End Date (YYYYMMDD):</label>
        <input type="text" id="end_date" name="end_date" required>
        <button type="submit">Submit</button>
    </form>
    <p>
        This is all based on the NOAA data. The data is not available for all dates. If you enter a date that is not available, you will get an error message.
        <br> <b>Data here is from the Old Port Tampa station.</b>
        <br> <a href="https://tidesandcurrents.noaa.gov/stationhome.html?id=8726607">NOAA Station Info</a>
    </p>
    <script>
        // Default date value
        const defaultBeginDate = '20241007';
        const defaultEndDate = '20241008';

        // Set default values for the text inputs
        document.getElementById('begin_date').value = defaultBeginDate;
        document.getElementById('end_date').value = defaultEndDate;
    </script>
</body>
</html>
